@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  font-family: "Acme", sans-serif;
  color: rgb(18, 22, 21);
  border: 0;
}

body {
  background: linear-gradient(to right, rgb(68, 113, 180), rgb(15, 49, 100));
  background-size: 100%;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.countdown {
  display: flex;
  justify-content: flex-end;
  width: auto;
  height: 30px;
  font-size: 32px;
  color: #121615;
  padding: 10px;
}

.div_bar_time {
  display: flex;
  justify-content: center;
  width: 100%;
}
.div_bar_time .bar_time {
  display: flex;
  width: 90%;
  height: 5px;
  margin-top: 3px;
  background-color: hsl(143deg, 79%, 43%);
  border-radius: 5px;
  -webkit-animation: 15s alternate forwards ease-out;
          animation: 15s alternate forwards ease-out;
}

@-webkit-keyframes timer {
  0% {
    width: 90%;
    background-color: hsl(143deg, 79%, 43%);
  }
  65% {
    background-color: hsl(143deg, 79%, 43%);
  }
  70% {
    background-color: #8a0808;
  }
  100% {
    background-color: #8a0808;
    width: 0%;
  }
}

@keyframes timer {
  0% {
    width: 90%;
    background-color: hsl(143deg, 79%, 43%);
  }
  65% {
    background-color: hsl(143deg, 79%, 43%);
  }
  70% {
    background-color: #8a0808;
  }
  100% {
    background-color: #8a0808;
    width: 0%;
  }
}
#container {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#container .div-title {
  margin-bottom: 30px;
}
#container .container_btn {
  display: flex;
}
#container .container_btn .sub-container {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 64px;
}

.btn {
  color: rgb(238, 238, 238);
  display: block;
  font-size: 16px;
  padding: 18px;
  margin: 30px 50px;
  background-color: #121615;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.185);
  transition: 0.5s;
  text-align: center;
}

.btn:hover {
  background-color: rgb(10, 10, 10);
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.35);
  cursor: pointer;
}

.btn_certo {
  background-image: url(../verdade.png) no-repeat;
  background-position: 50%;
  background-size: 30px;
  background-color: #00ff4c;
}

.paragrafo {
  font-size: 20px;
  margin-bottom: 20px;
}

.numberQuestions {
  font-size: 24px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.home_btn {
  margin-top: 5%;
}

.btn_comecar {
  text-decoration: none;
  font-size: 32px;
  background: #121615;
  color: #fff;
  display: flex;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 1px 5px 5px 0px rgba(12, 85, 168, 0.712);
  -webkit-animation: comeca 1s infinite ease;
          animation: comeca 1s infinite ease;
}

@-webkit-keyframes comeca {
  0% {
    transform: scale(100%);
  }
  50% {
    transform: scale(105%);
  }
  100% {
    transform: scale(100%);
  }
}

@keyframes comeca {
  0% {
    transform: scale(100%);
  }
  50% {
    transform: scale(105%);
  }
  100% {
    transform: scale(100%);
  }
}
.end {
  width: 100%;
  height: 90vh;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.end .end_img {
  width: 120px;
}
.end .end.title {
  margin-top: 40px;
  font-size: 32px;
}

@media (max-width: 600px) {
  .title {
    font-size: 48px;
  }
  .paragrafo {
    margin: 10px;
  }
}/*# sourceMappingURL=style.css.map */